USE [master]
GO
/****** Object:  Database [GestioneSpese]    Script Date: 09/04/2021 12:16:24 ******/
CREATE DATABASE [GestioneSpese]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestioneSpese', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestioneSpese.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestioneSpese_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestioneSpese_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestioneSpese].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestioneSpese]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/04/2021 12:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 09/04/2021 12:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spese]    Script Date: 09/04/2021 12:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spese](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[Descrizione] [nvarchar](500) NOT NULL,
	[Utente] [nvarchar](100) NOT NULL,
	[Importo] [decimal](18, 2) NOT NULL,
	[Approvato] [bit] NOT NULL,
	[CategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Spese] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210409085316_Initial', N'5.0.5')
GO
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([Id], [Nome]) VALUES (1, N'Cibo')
INSERT [dbo].[Categorie] ([Id], [Nome]) VALUES (2, N'Abbigliamento')
INSERT [dbo].[Categorie] ([Id], [Nome]) VALUES (3, N'Scuola')
SET IDENTITY_INSERT [dbo].[Categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Spese] ON 

INSERT [dbo].[Spese] ([Id], [Data], [Descrizione], [Utente], [Importo], [Approvato], [CategoriaId]) VALUES (1, CAST(N'2021-04-09T12:11:07.9118682' AS DateTime2), N'Panini', N'Delia', CAST(2.30 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Spese] ([Id], [Data], [Descrizione], [Utente], [Importo], [Approvato], [CategoriaId]) VALUES (4, CAST(N'2021-04-09T12:14:05.9887654' AS DateTime2), N'Scarpe', N'Gloria', CAST(25.99 AS Decimal(18, 2)), 0, 2)
SET IDENTITY_INSERT [dbo].[Spese] OFF
GO
/****** Object:  Index [IX_Spese_CategoriaId]    Script Date: 09/04/2021 12:16:25 ******/
CREATE NONCLUSTERED INDEX [IX_Spese_CategoriaId] ON [dbo].[Spese]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Spese]  WITH CHECK ADD  CONSTRAINT [FK_Spese_Categorie_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorie] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Spese] CHECK CONSTRAINT [FK_Spese_Categorie_CategoriaId]
GO
USE [master]
GO
